# Database
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/url_shortener

# Short code strategy: random | hash | uuid
SHORTCODE_STRATEGY=hash
SHORTCODE_LENGTH=8

# App
BASE_URL=http://localhost:8000